*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(#128C7E 15%, #ECE5DD 11%, rgb(205, 212, 218) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width:80%;
    min-width:900px;
    height:90%;
    background:white;
}

.side{
    flex-basis: 40%;
    background: white;
}

/*Content */

.contenuto{
    flex-basis: 60%;
    background: rgb(27, 209, 112);
    display: flex;
    flex-direction: column;
}

.contenuto-header,
.contenuto-footer{
    padding:26px;
    background:#f0f0f0;
}
.contenuto-main{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.content.main p{
    margin-bottom: 20px;
}



