*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(#128C7E 15%, #ECE5DD 11%, rgb(205, 212, 218) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width:80%;
    min-width:900px;
    height:90%;
    background:white;
}
/*CONTACTS*/
.user{
    flex-basis: 35%;
    background: white;
}
.user-header{
    padding:26px;
    background:#f0f0f0;
    border-bottom:1px solid rgb(211 211 211);
    border-right:1px solid rgb(211 211 211);
}
.notification{
    padding:26px;
    background: rgb(32, 173, 216);
}
.search-bar{
    padding:10px;
    background: silver;
}
.contacts{
    flex-grow: 1;
    overflow-y: auto;  
}
.contact{
    padding: 26px;
    margin: 1px;
    background: rgb(243 244 246);
}




/*Chat */

.chat{
    flex-basis: 65%;
    background: rgb(27, 209, 112);
    display: flex;
    flex-direction: column;
}

.chat-header,
.chat-footer{
    padding:26px;
    background:#f0f0f0;
}
.chat-main{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}
.chat-main p{
    margin-bottom: 20px;
}



