*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(#128C7E 15%, #ECE5DD 11%, rgb(205, 212, 218) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width:80%;
    min-width:900px;
    height:90%;
    background:white;
}
/*CONTACTS*/
.user{
    flex-basis: 35%;
    background: white;
}

.user-header{
    padding:10px 5px;
    background:#f0f0f0;
    border-bottom:1px solid rgb(211 211 211);
    border-right:1px solid rgb(211 211 211);
    display: flex;
    align-items: center;
}


.user-avatar{
    width:45px;
    border-radius: 50%;
    margin-right: 5px;
}
.ul-user{
    list-style: none;
    margin-left: 200px;
}
.li-user{
    display: inline-block;
    margin: 0 7px;
}
i{
    color:silver
}


/*notification*/
.notification{
    
    background-color:  #0db2fa6b;
    padding:15px 0px 0px 5px;
    display: flex;
    justify-content: flex-start;
}

.notice{
    background-color: rgb(255, 255, 255);
    padding: 10px 12px 10px 12px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    
}
.bell{
    color:#0db2fa6b ;
}
.li-not{
    list-style: none;
    margin-bottom: 5px;
}
.li-not:nth-child(3){
    margin-top: 3px;
}
/*search bar*/
.search-bar{
    padding:5px;
    background-color: rgb(158 158 158 / 8%);
    display: flex;
}

.search-buttom{
    width: 15%;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background: rgb(255, 255, 255);
}

.search{
    width: 84%;
    border: none;
    border-radius: 0px 5px 5px 0px;
}



/*contacts*/
.contacts{
    flex-grow: 1;
    overflow-y: auto; 
    
}

.contact{
    padding: 10px 5px;
    background:white;
    border-bottom: 1px solid rgb(211 211 211); 
    display:flex 
}.contact:hover{
    background:#e2e7e6
}

.contact:last-child{
    border-bottom: none;
}

.image-contact{
    background-color: rgb(255, 255, 255);
    padding: 10px 25px 15px 20px;
    border-radius: 50%;
    margin-right: 10px; 
}

.img-contact{
    width:45px;
    border:1px solid rgb(243 244 246);
    border-radius: 50%;
}

.name-contact{
    padding:10px;
}


/*Chat */

.chat{
    flex-basis: 65%;
    background: rgb(27, 209, 112);
    display: flex;
    flex-direction: column;
}

/*header*/

.chat-header{
    padding:26px;
    background:#f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-header{
    padding:10px;
}

/*Chat*/

.chat-main{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

.chat-main p{
    margin-bottom: 10px;
}

 .ul-header{
     margin-left: 480px;
     
 }

 .li-header{
    list-style: none;
    display: inline-block;
    padding: 10px 
 }

 /*MESSAGES*/

 .sent{
    width: auto;
    background: #DCF8C6;
    margin-left: 470px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 5px 15px 0px 10px;
    border-radius: 5px;
   
}
 
 .received{
    margin-right:470px ;
    margin-left:50px ;
    width:auto;
    background: #ffffff;
    padding: 5px 15px 0px 10px;
    border-radius: 5px;
   
 }
 .testo{
   
    margin:5px 0px 5px 2px;
    max-width: 200px;
 }
 .date{
     font-size: 10px;
     text-align: end;
 }

 /*Chat FOOTER*/

 .chat-footer{
    padding: 10px;
    background:#f0f0f0;
    display: flex;
    justify-content: flex-start;
     display: flex;
     justify-content: space-between;
 }

 .new-messagge{
     width:80%;
     padding:10px;
     border-radius: 5px;
     border: none;
 }
 .f-i{
     padding:10px 25px;
 }



