<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--CSS-->
     <link rel="stylesheet" href="./css/main.css">
     <!--Fontawesome-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
     <!--Google Fonts-->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
     <title> vue-slider</title>
     <!--Vue-->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>VueZApp</title>
</head>


<body> 
    <div id="app" class="container">
        <!--CONTACTS-->
      <aside class="user">

        <!--User Header-->
        <section class="user-header">
            <div> 
               <img class="user-avatar" :src="'./img/avatar' + user.avatar + '.jpg'" alt="user.name"> 
            </div>
            <h3>{{user.name}}</h3> 
        <ul class="ul-user">
            <li class="li-user">
                <i class="fas fa-circle-notch"></i>
            </li>
            <li class="li-user">
                <i class="fas fa-comment-alt"></i>
            </li>
            <li class="li-user">
                <i class="fas fa-ellipsis-v"></i>
            </li>
        </ul>
        </section>
        <!--Notifications-->
        <section class="notification">
            <div>
                <div class="notice">
                    <i class="fas  fa-bell-slash bell"></i>
                </div> 
           </div>
           <ul class="ul-not">
               <li class="li-not">
                   <h5>Ricevi notifiche di nuovi messaggi</h5>
               </li>
               <li class="li-not">
                   <h6>
                       Attiva nitifiche desktop
                   </h6>
               </li>
           </ul>
        </section>
        <!--Search Bar-->
        <section class="search-bar">
            <button class="search-buttom">
                <i class="fas fa-search">
                    <a href="#"></a>
                </i>
            </button>
            <input class="search" 
            type="text" 
            placeholder="Cerca o inzia una nuova chat"
             v-model="searchContact" 
             @keyup="search">
           
            
        </section>
        <!--Main Contact-->
        <section class="contacts">
            <div class="contact" 
            v-for="(element,contact, index) in arraycontact"
             @click="setActiveContact(index)"
             :class="{active: index === activeContact}"
             v-if="element.visible "
            >

              <img class="img-contact" :src="'./img/avatar' + element.avatar + '.jpg'" :alt="contact.name"> 
                 <h3 class="name-contact">{{element.name}}</h3> 
            </div>
            
            
        </section>
      </aside>

        <!--CHAT-->

        <main class="chat">
          <!--Chat header-->
            <section class="chat-header">
                <div>
                    <img class="img-contact" :src="`./img/avatar${arraycontact[activeContact].avatar}.jpg`" alt=""> 
               </div>
               <ul class="ul-not">
                 <li class="li-not">
                    <h4> {{arraycontact[activeContact].name}}</h4>
                 </li>
                 <li class="li-not">
                   <h6>Ultimo Accesso oggi alle 15:53</h6>
                 </li>
               </ul>
               <ul class="ul-header">
                <li class="li-header">
                    <i class="fas fa-search"></i>
                </li>
                <li class="li-header">
                    <i class="fas fa-paperclip"></i>
                </li>
                <li class="li-header">
                    <i class="fas fa-ellipsis-v"></i>
                </li>
            </ul>
            </section>
          <!--Messagges-->
            <section class="chat-main">
                <div class="sent"
                  v-for="item in arraycontact[activeContact].messages"
                  :class="item.status">

                    <p class="testo">{{item.message}}</p>
                    <p class="date">{{item.date}}</p>
                </div>
            </section>
      <!--Chat Footer-->
            <section class="chat-footer">
                <i class="far fa-smile f-i "></i>

                  <input  class="new-message"
                   v-model.trim="newMessage"
                   @keyup.enter="addMessage(activeContact)"
                   type="text" 
                   placeholder="Inserisci un nuovo messaggio"
                   ref="messageInput"/>

                <i class="fas fa-microphone f-i"></i>
            </section>
        </main>
    </div>



  
    <!--day js-->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!--Js-->
    <script src="./script.js"></script>
</body>
</html>